* {
    background-color: black;
    text-align: center;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
}
h1 {
    color:white;
    margin-top: 55px;
}
img {
    width: 30%;
    height: auto;
    margin-top: 50px;
}
.brandlogo {

width:3%;
height:auto;
}
.socialmedia {
   margin-top: 110px; 
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
 }